<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonBar</key>
	<array>
		<string>com.christianselig.Apollo</string>
		<string>com.facebook.Messenger</string>
		<string>com.google.chrome.ios</string>
		<string>com.toyopagroup.picaboo</string>
	</array>
	<key>defaultDisplayName</key>
	<string>Folder</string>
	<key>displayName</key>
	<string>Folder</string>
	<key>iconLists</key>
	<array>
		<array>
			<string>com.apple.AppStore</string>
			<string>com.apple.calculator</string>
			<string>com.apple.camera</string>
			<string>au.com.commbank.commbank</string>
			<string>com.apple.mobiletimer</string>
			<string>com.hammerandchisel.discord</string>
			<string>com.facebook.Facebook</string>
			<string>com.google.Gmail</string>
			<string>com.google.Keep</string>
			<string>com.google.Maps</string>
			<string>com.burbn.instagram</string>
			<string>com.apple.MobileSMS</string>
			<string>com.apple.mobilephone</string>
			<string>com.apple.mobileslideshow</string>
			<string>com.apple.Preferences</string>
			<string>com.spotify.client</string>
			<string>com.apple.VoiceMemos</string>
			<string>com.apple.weather</string>
			<string>com.google.ios.youtube</string>
			<string>com.google.ios.ytcreator</string>
		</array>
		<array>
			<string>AlexisBarreyat.BeReal</string>
			<string>it.beem.app</string>
			<string>com.apple.mobilecal</string>
			<string>com.google.Dynamite</string>
			<string>com.garageitaly.garage</string>
			<string>com.google.Drive</string>
			<string>com.apple.DocumentsApp</string>
			<string>com.apple.findmy</string>
			<string>com.apple.Health</string>
			<string>com.linkedin.LinkedIn</string>
			<string>com.microsoft.skydrive</string>
			<string>es.produkt.app.panels</string>
			<string>com.yourcompany.PPClient</string>
			<string>com.apple.reminders</string>
			<string>au.com.selfwealth.mobilev2</string>
			<string>com.apple.shortcuts</string>
			<string>ph.telegra.Telegraph</string>
			<string>com.zhiliaoapp.musically</string>
			<string>com.grofsoft.TripView</string>
			<string>tv.twitch</string>
			<string>com.atebits.Tweetie2</string>
			<string>com.ubercab.UberClient</string>
			<string>com.apple.Passbook</string>
			<string>com.waze.iphone</string>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>fat</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>au.com.dominos.Dominos</string>
						<string>doordash.DoorDashConsumer</string>
						<string>au.com.clemenger.ios.hungryjacks</string>
						<string>com.ncr.hsr.KFCXpress</string>
						<string>au.com.menulog.m</string>
						<string>com.mcdonalds.gma.au</string>
						<string>com.ubercab.UberEats</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>2B7F155E-2711-4C8A-AFB9-14410B22EB55</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>22589E18-2F13-49B2-A5E0-B6B1232883B6</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>home</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>com.google.OPA</string>
						<string>com.flybuys.iphone</string>
						<string>com.google.Chromecast</string>
						<string>au.com.hotdoc</string>
						<string>com.meross.Meross</string>
						<string>au.com.powershop.Powershop</string>
						<string>com.woolworths.Rewards</string>
						<string>com.yamaha.music.soundbarcontroller</string>
						<string>com.tuya.smart</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>E4E94C86-6804-4FD2-8FB2-4A54B7F0204F</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>7AFF48CF-8A98-4899-B56E-17C99065CE72</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>piracy</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>com.disney.disneyplus</string>
						<string>com.netflix.Netflix</string>
						<string>com.amazon.aiv.AIVApp</string>
						<string>au.com.stan</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>76573801-80EB-4364-AEEA-B493AFF3E47B</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>FE355368-7E31-473B-ACD1-E569F435F366</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>stonks</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>org.voisine.breadwallet</string>
						<string>com.vilcsak.bitcoin2</string>
						<string>com.coinspot.app</string>
						<string>org.toshi.distribution</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>1BA564DA-C0DC-4BD7-81A7-59E95E44E8A6</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>6E1FA67E-10DC-45D9-9C20-BB52C6F53BFF</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>troll</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>net.sourceloc.AirTroller</string>
						<string>it.ned.appdb-ios</string>
						<string>com.tigisoftware.ADManager</string>
						<string>com.cisc0freak.cardio</string>
						<string>net.sourceloc.DebToIPA</string>
						<string>p3.xyz.yyyue.esign</string>
						<string>com.tigisoftware.Filza</string>
						<string>com.icraze.gtatracker</string>
						<string>org.haxi0.InstaSpring</string>
					</array>
					<array>
						<string>com.simplycode.PostBox</string>
						<string>com.AppInstalleriOS.TrollSign</string>
						<string>com.opa334.TrollStore</string>
						<string>net.sourceloc.TrollTools</string>
						<string>com.mika.LocationSimulation</string>
						<string>DA513BCCE0D04376A8689B9CE90CBCC2</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>E67E09FA-E24A-4FBE-817A-843A5156B0C8</string>
					<string>E4A735AD-DD3E-408D-A842-D652AC76FE79</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>46500C2D-0AB2-4D1C-9ABC-17E798B84810</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>u got games?</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>com.miniclip.8ballpoolmult</string>
						<string>com.doublespeakgames-scratchworkdev.adarkroom</string>
						<string>com.innersloth.amongus</string>
						<string>com.frogmindgames.dodge</string>
						<string>com.robtop.geometryjump</string>
						<string>com.fingersoft.hillclimbracing</string>
						<string>com.FlukeDude.TheImpossibleGame</string>
						<string>com.playdeadgames.inside.ios</string>
						<string>com.playdeadgames.limbo.ios</string>
					</array>
					<array>
						<string>net.kdt.pojavlauncher</string>
						<string>me.pou.app</string>
						<string>com.wb.psych</string>
						<string>com.kitkagames.fallbuddies</string>
						<string>com.FireproofStudios.TheRoomiPhone</string>
						<string>vo.threes.exclaim</string>
						<string>com.majeski.worldquizfree</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>AE3FBBE2-8DB7-40BB-ACBD-B6B770155BC3</string>
					<string>A97DB441-6661-4DBC-B681-EDBD81F743BA</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>D1FF794C-E483-4543-8433-B0BEB9001F56</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>utili-deez</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>com.amazon.Amazon</string>
						<string>com.microsoft.azureauthenticator</string>
						<string>com.google.Authenticator</string>
						<string>com.lemon.lvoverseas</string>
						<string>com.humanservices.Centrelink</string>
						<string>com.didi.global.passenger</string>
						<string>au.gov.nsw.onegov.fuelcheckapp</string>
						<string>com.kogan.kogan-mobile</string>
						<string>com.humanservices.Medicare</string>
					</array>
					<array>
						<string>mega.ios</string>
						<string>com.rta.myRTA</string>
						<string>com.jadedlabs.arrive</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>2A3B80AF-ACDC-4B4F-BE44-EABD833B2919</string>
					<string>479A1A83-E845-4723-8623-91F11B598520</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>7AFFB93A-ECB3-47D0-A1BA-CF8B39548341</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>work</string>
				<key>iconLists</key>
				<array>
					<array>
						<string>E59EB55E59014EB7ABFC4C4BD7E408B2</string>
						<string>com.lesterelectrical.chargerconnect.lester</string>
						<string>com.ento.employee</string>
						<string>au.com.discoveryholidayparks.gdayparks</string>
						<string>com.lamotte.WaterlinkSolutions</string>
					</array>
				</array>
				<key>listType</key>
				<string>folder</string>
				<key>listUniqueIdentifiers</key>
				<array>
					<string>3D8F0580-3DFE-4C51-B0AE-F2B63096CAE5</string>
				</array>
				<key>uniqueIdentifier</key>
				<string>DFB6B032-13C0-4392-86C9-A30A36A080DE</string>
			</dict>
			<string>com.microsoft.smartglass</string>
			<string>com.nianticlabs.pokemongo</string>
			<string>com.tapmen.capybararush</string>
			<string>au.com.easi.customer</string>
			<string>net.frameo.app</string>
			<string>com.dramaflix.co</string>
			<string>com.avangelista.Appabetical</string>
			<dict>
				<key>allowsExternalSuggestions</key>
				<true/>
				<key>allowsSuggestions</key>
				<true/>
				<key>displayIdentifier</key>
				<string>910D70FF-1B5E-4B65-B089-AC66D5F6A71A</string>
				<key>elements</key>
				<array>
					<dict>
						<key>bundleIdentifier</key>
						<string>com.apple.mobilecal.CalendarWidgetExtension</string>
						<key>containerBundleIdentifier</key>
						<string>com.apple.mobilecal</string>
						<key>elementType</key>
						<string>widget</string>
						<key>uniqueIdentifier</key>
						<string>753CF5F8-9AB5-48FF-BC52-42A4DC201C1A</string>
						<key>widgetIdentifier</key>
						<string>com.apple.CalendarWidget.CalendarUpNextWidget</string>
					</dict>
					<dict>
						<key>bundleIdentifier</key>
						<string>com.apple.mobileslideshow.PhotosReliveWidget</string>
						<key>containerBundleIdentifier</key>
						<string>com.apple.mobileslideshow</string>
						<key>elementType</key>
						<string>widget</string>
						<key>uniqueIdentifier</key>
						<string>1E18BD33-3B80-4642-AE10-34CB7CF75610</string>
						<key>widgetIdentifier</key>
						<string>com.apple.mobileslideshow.PhotosReliveWidget</string>
					</dict>
					<dict>
						<key>bundleIdentifier</key>
						<string>com.apple.mobiletimer.WorldClockWidget</string>
						<key>containerBundleIdentifier</key>
						<string>com.apple.mobiletimer</string>
						<key>elementType</key>
						<string>widget</string>
						<key>uniqueIdentifier</key>
						<string>1B0D910F-7C34-48CB-9C80-98CB73FE2C44</string>
						<key>widgetIdentifier</key>
						<string>com.apple.mobiletimer.WorldClock</string>
					</dict>
					<dict>
						<key>bundleIdentifier</key>
						<string>com.google.chrome.ios.WidgetKitExtension</string>
						<key>containerBundleIdentifier</key>
						<string>com.google.chrome.ios</string>
						<key>elementType</key>
						<string>widget</string>
						<key>uniqueIdentifier</key>
						<string>9E7F70A8-871A-4C14-A46A-C51F7AE0BDC5</string>
						<key>widgetIdentifier</key>
						<string>QuickActionsWidget</string>
					</dict>
					<dict>
						<key>bundleIdentifier</key>
						<string>com.christianselig.Apollo.AthenaWidget</string>
						<key>containerBundleIdentifier</key>
						<string>com.christianselig.Apollo</string>
						<key>elementType</key>
						<string>widget</string>
						<key>uniqueIdentifier</key>
						<string>F4802E46-DC76-4718-8E2E-48FD87AC69A5</string>
						<key>widgetIdentifier</key>
						<string>PhotoWidget</string>
					</dict>
					<dict>
						<key>bundleIdentifier</key>
						<string>com.google.Maps.HomeTrafficWidgetExtension</string>
						<key>containerBundleIdentifier</key>
						<string>com.google.Maps</string>
						<key>elementType</key>
						<string>widget</string>
						<key>uniqueIdentifier</key>
						<string>FB9D72C6-92DF-4351-AF77-D30E2E21DF25</string>
						<key>widgetIdentifier</key>
						<string>MapsSearchWidget</string>
					</dict>
					<dict>
						<key>bundleIdentifier</key>
						<string>com.apple.AppStore.Widgets</string>
						<key>containerBundleIdentifier</key>
						<string>com.apple.AppStore</string>
						<key>elementType</key>
						<string>widget</string>
						<key>uniqueIdentifier</key>
						<string>C4C2EEBD-5697-4A77-9BF2-DDA0EAB49680</string>
						<key>widgetIdentifier</key>
						<string>com.apple.AppStore.Widgets.Today</string>
					</dict>
				</array>
				<key>gridSize</key>
				<string>medium</string>
				<key>iconType</key>
				<string>custom</string>
				<key>userSelectedElementIdentifier</key>
				<string>C4C2EEBD-5697-4A77-9BF2-DDA0EAB49680</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>allowsExternalSuggestions</key>
				<true/>
				<key>allowsSuggestions</key>
				<true/>
				<key>bundleIdentifier</key>
				<string>com.apple.mobiletimer.WorldClockWidget</string>
				<key>containerBundleIdentifier</key>
				<string>com.apple.mobiletimer</string>
				<key>displayIdentifier</key>
				<string>B2EDD004-9134-4FE5-A071-5944B9122CAF</string>
				<key>elementType</key>
				<string>widget</string>
				<key>gridSize</key>
				<string>small</string>
				<key>iconType</key>
				<string>custom</string>
				<key>uniqueIdentifier</key>
				<string>6CC124A6-0714-45B0-B278-1572302CEE94</string>
				<key>widgetIdentifier</key>
				<string>com.apple.mobiletimer.City</string>
			</dict>
		</array>
	</array>
	<key>ignored</key>
	<array>
		<string>com.apple.mobilesafari</string>
		<string>com.jonathankopp.quitvaping</string>
		<string>com.apple.appleseed.FeedbackAssistant</string>
	</array>
	<key>listMetadata</key>
	<dict>
		<key>2D554217-E16E-444B-B593-76BF25C8C545</key>
		<dict>
			<key>overflowSlotCount</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>listUniqueIdentifiers</key>
	<array>
		<string>F11D6F20-F895-415E-840F-9C0D371B9C35</string>
		<string>E89812DC-D455-4372-BE26-5A9C0A29CB09</string>
		<string>E9767603-C3A2-453D-BE85-19D7A2D24767</string>
		<string>2D554217-E16E-444B-B593-76BF25C8C545</string>
	</array>
	<key>today</key>
	<array>
		<dict>
			<key>allowsExternalSuggestions</key>
			<true/>
			<key>allowsSuggestions</key>
			<true/>
			<key>bundleIdentifier</key>
			<string>com.apple.mobiletimer.WorldClockWidget</string>
			<key>containerBundleIdentifier</key>
			<string>com.apple.mobiletimer</string>
			<key>displayIdentifier</key>
			<string>2E35236B-4BE0-46C7-BE5C-CA58B7F7CAF4</string>
			<key>elementType</key>
			<string>widget</string>
			<key>gridSize</key>
			<string>small</string>
			<key>iconType</key>
			<string>custom</string>
			<key>uniqueIdentifier</key>
			<string>4FE25A5C-C266-42CE-BB73-F54159AC7697</string>
			<key>userSelectedElementIdentifier</key>
			<string>4FE25A5C-C266-42CE-BB73-F54159AC7697</string>
			<key>widgetIdentifier</key>
			<string>com.apple.mobiletimer.City</string>
		</dict>
		<dict>
			<key>allowsExternalSuggestions</key>
			<true/>
			<key>allowsSuggestions</key>
			<true/>
			<key>bundleIdentifier</key>
			<string>com.apple.mobilecal.CalendarWidgetExtension</string>
			<key>containerBundleIdentifier</key>
			<string>com.apple.mobilecal</string>
			<key>displayIdentifier</key>
			<string>29E29032-6757-4FC6-997B-B6F8138352CC</string>
			<key>elementType</key>
			<string>widget</string>
			<key>gridSize</key>
			<string>small</string>
			<key>iconType</key>
			<string>custom</string>
			<key>uniqueIdentifier</key>
			<string>5917D34D-3946-4609-A6D7-D26BEE841618</string>
			<key>userSelectedElementIdentifier</key>
			<string>5917D34D-3946-4609-A6D7-D26BEE841618</string>
			<key>widgetIdentifier</key>
			<string>com.apple.CalendarWidget.CalendarUpNextWidget</string>
		</dict>
		<dict>
			<key>allowsExternalSuggestions</key>
			<false/>
			<key>allowsSuggestions</key>
			<false/>
			<key>displayIdentifier</key>
			<string>1B9BC7DA-6F09-41EB-BAD7-E4223A78DD4A</string>
			<key>elements</key>
			<array>
				<dict>
					<key>bundleIdentifier</key>
					<string>it.beem.app.widget</string>
					<key>containerBundleIdentifier</key>
					<string>it.beem.app</string>
					<key>elementType</key>
					<string>widget</string>
					<key>uniqueIdentifier</key>
					<string>3D9B5F34-F472-40BB-9A3D-E25D9787A1A7</string>
					<key>widgetIdentifier</key>
					<string>it.beem.widget.loyalty-card</string>
				</dict>
				<dict>
					<key>bundleIdentifier</key>
					<string>it.beem.app.widget</string>
					<key>containerBundleIdentifier</key>
					<string>it.beem.app</string>
					<key>elementType</key>
					<string>widget</string>
					<key>uniqueIdentifier</key>
					<string>F3ED767E-E68E-4153-A4E0-9D4588E72F9E</string>
					<key>widgetIdentifier</key>
					<string>it.beem.widget.loyalty-card</string>
				</dict>
				<dict>
					<key>bundleIdentifier</key>
					<string>it.beem.app.widget</string>
					<key>containerBundleIdentifier</key>
					<string>it.beem.app</string>
					<key>elementType</key>
					<string>widget</string>
					<key>uniqueIdentifier</key>
					<string>262636F2-637B-432C-B3EC-9CB0DEBC2E71</string>
					<key>widgetIdentifier</key>
					<string>it.beem.widget.loyalty-card</string>
				</dict>
			</array>
			<key>gridSize</key>
			<string>medium</string>
			<key>iconType</key>
			<string>custom</string>
			<key>userSelectedElementIdentifier</key>
			<string>F3ED767E-E68E-4153-A4E0-9D4588E72F9E</string>
		</dict>
		<dict>
			<key>allowsExternalSuggestions</key>
			<true/>
			<key>allowsSuggestions</key>
			<true/>
			<key>bundleIdentifier</key>
			<string>com.apple.mobileslideshow.PhotosReliveWidget</string>
			<key>containerBundleIdentifier</key>
			<string>com.apple.mobileslideshow</string>
			<key>displayIdentifier</key>
			<string>AAD065AC-9241-4798-BFDE-3A34F9513556</string>
			<key>elementType</key>
			<string>widget</string>
			<key>gridSize</key>
			<string>small</string>
			<key>iconType</key>
			<string>custom</string>
			<key>uniqueIdentifier</key>
			<string>F2A5394A-8C8A-4A9C-AC1B-DDC097F60963</string>
			<key>widgetIdentifier</key>
			<string>com.apple.mobileslideshow.PhotosReliveWidget</string>
		</dict>
		<dict>
			<key>allowsExternalSuggestions</key>
			<true/>
			<key>allowsSuggestions</key>
			<true/>
			<key>bundleIdentifier</key>
			<string>com.christianselig.Apollo.AthenaWidget</string>
			<key>containerBundleIdentifier</key>
			<string>com.christianselig.Apollo</string>
			<key>displayIdentifier</key>
			<string>B2C993D2-B1E6-453E-AF1C-3147AD72F3BA</string>
			<key>elementType</key>
			<string>widget</string>
			<key>gridSize</key>
			<string>small</string>
			<key>iconType</key>
			<string>custom</string>
			<key>uniqueIdentifier</key>
			<string>244CD2EB-83F1-491C-9D24-024C0BE4B8B2</string>
			<key>userSelectedElementIdentifier</key>
			<string>244CD2EB-83F1-491C-9D24-024C0BE4B8B2</string>
			<key>widgetIdentifier</key>
			<string>PhotoWidget</string>
		</dict>
		<dict>
			<key>allowsExternalSuggestions</key>
			<true/>
			<key>allowsSuggestions</key>
			<true/>
			<key>displayIdentifier</key>
			<string>CA19FE12-0AF0-476E-9C3A-501FA55A83ED</string>
			<key>elementType</key>
			<string>shortcuts</string>
			<key>gridSize</key>
			<string>medium</string>
			<key>iconType</key>
			<string>custom</string>
			<key>uniqueIdentifier</key>
			<string>BF9987E9-2F98-4B3A-9494-606D1B210C3F</string>
			<key>userSelectedElementIdentifier</key>
			<string>BF9987E9-2F98-4B3A-9494-606D1B210C3F</string>
		</dict>
		<dict>
			<key>allowsExternalSuggestions</key>
			<true/>
			<key>allowsSuggestions</key>
			<true/>
			<key>bundleIdentifier</key>
			<string>com.apple.weather.widget</string>
			<key>containerBundleIdentifier</key>
			<string>com.apple.weather</string>
			<key>displayIdentifier</key>
			<string>FB9E9B12-6CE7-4419-9D0D-F2B4F88C4BE3</string>
			<key>elementType</key>
			<string>widget</string>
			<key>gridSize</key>
			<string>large</string>
			<key>iconType</key>
			<string>custom</string>
			<key>uniqueIdentifier</key>
			<string>30A4C0BD-9CC2-4628-BBD7-667F47115F2E</string>
			<key>widgetIdentifier</key>
			<string>com.apple.weather</string>
		</dict>
		<dict>
			<key>allowsExternalSuggestions</key>
			<true/>
			<key>allowsSuggestions</key>
			<true/>
			<key>displayIdentifier</key>
			<string>1E2DD9D0-A9E0-4A91-A806-57546407223E</string>
			<key>elementType</key>
			<string>batteries</string>
			<key>gridSize</key>
			<string>medium</string>
			<key>iconType</key>
			<string>custom</string>
			<key>uniqueIdentifier</key>
			<string>B0AAE415-8B1B-4266-8DAA-0675F7E54452</string>
		</dict>
	</array>
	<key>uniqueIdentifier</key>
	<string>9A829A00-95E5-4F78-9070-D04696CBBB0F</string>
	<key>widgetVersion</key>
	<integer>1</integer>
</dict>
</plist>
